@using System.Text.Json

<div class="contact-form">
	<EditForm class="contact-form__holder" Model="_formModel" OnValidSubmit="HandleValidSubmit" Enhance>
		<DataAnnotationsValidator />

		<h2 class="contact-form__title">Let's Collaborate</h2>

		<p class="contact-form__subtitle">
			I'm excited to hear about your project and how we can create something amazing together. Whether you have
			questions, ideas, or just want to say hello, feel free to reach out!
		</p>

		<div class="contact-form__fields">
			<div class="contact-form__group">
				<InputText class="contact-form__input" placeholder="First name" @bind-Value="_formModel.FirstName" />

				<span class="contact-form__error">
					<ValidationMessage For="@(() => _formModel.FirstName)" />
				</span>
			</div>

			<div class="contact-form__group">
				<InputText class="contact-form__input" placeholder="Last name" @bind-Value="_formModel.LastName" />

				<span class="contact-form__error">
					<ValidationMessage For="@(() => _formModel.LastName)" />
				</span>
			</div>

			<div class="contact-form__group">
				<InputText class="contact-form__input" placeholder="Email address" @bind-Value="_formModel.Email" />

				<span class="contact-form__error">
					<ValidationMessage For="@(() => _formModel.Email)" />
				</span>
			</div>

			<div class="contact-form__group">
				<InputText class="contact-form__input" placeholder="Phone number" @bind-Value="_formModel.Phone" />

				<span class="contact-form__error">
					<ValidationMessage For="@(() => _formModel.Phone)" />
				</span>
			</div>

			<div class="contact-form__group">
				<div class="custom-select-wrapper">
					<select class="contact-form__select" @bind="_formModel.Service">
						<option disabled selected value="">Select a service</option>

						@foreach (string service in ServicesNames)
						{
							<option>@service</option>
						}
					</select>
				</div>

				<span class="contact-form__error">
					<ValidationMessage For="@(() => _formModel.Service)" />
				</span>
			</div>

			<div class="contact-form__group">
				<InputTextArea class="contact-form__textarea" placeholder="Type your message here."
					@bind-Value="_formModel.Message" />

				<span class="contact-form__error">
					<ValidationMessage For="@(() => _formModel.Message)" />
				</span>
			</div>
		</div>

		<button type="submit" class="contact-form__submit">Send message</button>
	</EditForm>
</div>

@code {
	[Parameter, EditorRequired] public List<string> ServicesNames { get; set; } = [];
	[Parameter] public string SelectedService { get; set; } = "";

	private ContactFormModel _formModel = new();

	protected override void OnInitialized()
	{
		if (!string.IsNullOrEmpty(SelectedService))
		{
			_formModel.Service = SelectedService;
		}
	}

	private void HandleValidSubmit()
	{
		Console.WriteLine(JsonSerializer.Serialize(_formModel));
	}
}
