@inherits LayoutComponentBase

<PageTitle>My Portfolio</PageTitle>

<div class="page">
	<main>
		<div class="nav-bar">
			<NavMenu />
		</div>

		<Home />

		<section id="@AppLayoutData.NavigationLinks[0]">
			About Me
			<AboutMe />
		</section>

		<section id="@AppLayoutData.NavigationLinks[1]">
			Skills
			<Home />
		</section>

		<section id="@AppLayoutData.NavigationLinks[2]">
			Projects
			<Home />
		</section>

		<section id="@AppLayoutData.NavigationLinks[3]">
			Resume
			<Home />
		</section>

		<section id="@AppLayoutData.ContactLink">
			Contact Me
			<Home />
		</section>
	</main>
</div>
