<div class="about-me-container" id="about">
    <div class="about-me-content">
        <div class="about-me-left">
            <img src="@AppLayoutData.ProfileImageUrl" alt="@AppLayoutData.ProfileImageAltText" class="profile-img" />
            <div class="social-icons">
                @foreach (var icon in AppLayoutData.SocialMediaIcons)
                {
                    <a href="@icon.ProfilePageUrl" target="_blank" rel="noopener noreferrer" title="@icon.PlatformName">
                        <img src="@icon.IconImageUrl" alt="@icon.IconAltText" class="social-icon" />
                    </a>
                }
            </div>
        </div>
        <div class="about-me-right">
            <h4>@AppLayoutData.AboutMeSectionTitle</h4>
            <p>@AppLayoutData.AboutMeSectionDescription</p>
        </div>
    </div>
</div>
